a {
    color: #0000EE;
}

/******************************************** HER ŞEYİ KAPSAYAN DİV ********************************************/

.container {
    text-align: center;
}

/******************************************** ARAMA ÇUBUĞUNU BULUNDURAN DİV ********************************************/

.search-bar-div {
    background-color: #eeeeee;
    width: 1707px;
    text-align: center;
    margin: auto;
}

/******************************************** EN ALTTAKİ BAĞLANTILARI BARINDIRAN DİV ********************************************/

.baglanti-div {
    display: inline-block;
    width: 1707px;
    height: 76px;
    margin: 2px auto;
    
}

/******************************************** İLK BAĞLANTI DİVİ ********************************************/

.div1 {
    float: left;
    background-color: #7ee5da;
    font-size: 16px;
    width: 631px;
    height: 65px;
    margin-right: 2px;
    padding-top: 11px;
}

/******************************************** İKİNCİ BAĞLANTI DİVİ ********************************************/

.div2 {
    float: left;
    background-color: #70ccc2;
    font-size: 13px;
    width: 332px;
    height: 70px;
    margin-right: 2px;
    padding-top: 6px;
}

/******************************************** ÜÇÜNCÜ BAĞLANTI DİVİ ********************************************/

.div3 {
    float: left;
    background-color: #62b3aa;
    font-size: 13px;
    width: 740px;
    height: 76px;
}

